@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  text-align: center;
  font-family: Inter, sans-serif;
  background: black;
}

#functionDisplay {
  color: white;
  font-size: 48px;
}

#specialMathButton {
  position: absolute;
  background-color: black;
  color: white;
  border: 0;
  top: 10px;
  left: 10px;
}

.otherFunction {
  background-color: gray;
  border: solid 3px #A0A0A0;
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 45px;
  font-size: 36px;
}

.mathOperator {
  background-color: orange;
  border: solid 3px darkorange;
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 45px;
  font-size: 36px;
}

.numberButton {
  background-color: black;
  border: solid 3px gray;
  color: white;
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 45px;
  font-size: 36px;
}

.specialButton {
  background-color: navy;
  border: solid 3px blue;
  color: white;
  width: 90px;
  height: 90px;
  margin: 5px;
  border-radius: 45px;
  font-size: 36px;
  display: none;
}

.hidden {
  display: none;
}
